
  
          
  
  .two-element-container {
    margin-top: 50px;
    display: flex;
  }
  .two-element-container > * {
    margin: auto;
    flex-basis: 50%;
  }
  
  .chart {
    height: 100%;
    border-width: thin;
    border-style: solid;
    padding: 10px;
    border-radius: 25px;
    border-width: 2px;
    background-color: white;
  }
  .chart_left {
    margin-right: 25px;
    margin-left: 50px;
  }
 
  .chart_right {
    margin-right: 50px;
    margin-left: 25px;
  }
 
  .wrapper {
    display: flex;
  }
  #pie {
    margin-right: 50px;
    height: 100%;
    
}
.imgBtn{
  width: 70px;
  height: 40px;
}


#pie * {
    margin: 0 auto;
}

